body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

h2 {
  margin-left: 1rem;
  margin-top: 0;
}

p {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 0;
}

section {
  color: white;
}

.intro-text {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  justify-content: left;
}

.wrapper-div {
  display: grid;
  align-items: center;
  justify-content: center;
}

.header-div {
  background-color: #4c69f6;
  grid-column: 1/3;
}

.profile-div {
  background-color: #f6db35;
}

.portrait-div {
  grid-column: 4/6;
  grid-row: 1/4;
}

.experience-div {
  background-color: #ee5454;
}

.education-div {
  background-color: #58b15d;
}

.blog-div {
  background-color: #4c69f6;
}

.social-div {
  background-color: #f6db35;
}

.contact-div {
  background-color: #ee5454;
}

.nuts-div {
  background-color: #58b15d;
}

.portrait-img {
  min-height: 100vh;
  max-width: 100%;
  object-fit: cover;
}

.icon {
  display: block;
  margin: auto;
  margin-bottom: .5rem;
  width: 4rem;
}

