main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

.frame {
  height: 100%;
  width: 100%;
}

.div-1-name {
  background-color: green;
  grid-column: 1 / 3;
  grid-row: 1;
  width: 100%;
}

.div-2-profile {
  background-color: yellow;
  grid-column: 3;
  grid-row: 1;
}

.div-3-picture {
  background-color: blue;
  grid-column: 4 / 6;
  grid-row: 1 / 4;
  height: 450px;
  width: 300px;
}

.div-4-experience {
  background-color: red;
  grid-column: 1;
  grid-row: 2;
}

.div-5-education {
  background-color: yellow;
  grid-column: 2;
  grid-row: 2;
}

.div-6-blog {
  background-color: green;
  grid-column: 3;
  grid-row: 2;
}

.div-7-social {
  background-color: blue;
  grid-column: 1;
  grid-row: 3;
}

.div-8-contact {
  background-color: green;
  grid-column: 2;
  grid-row: 3;
}

.div-9-portfolio {
  background-color: red;
  grid-column: 3;
  grid-row: 3;
}